*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #71703a;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(244, 242, 242, 0.1);
    font-size: 8vmin;
    background-color: #edf3b3;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffea00;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display:none ;
}

.heading{
    font-size: 10vmin;
    color: #fff;
    text-align: center;
}




